<% @page_title = "Edit Collection #{display_title(@collection)} - #{application_name}" %>
<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>
<h1>Edit Collection: <%= display_title(@collection) %></h1>

<% unless has_collection_search_parameters? %>
  <div class="row">
    <% if current_user.sunset_editor? %>
      <div class="col-xs-12 col-sm-10 pull-right">
        <%= render 'collections/tabs' %>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-2">
      <%= render 'collections/media_display', collection: @collection %>
    </div>
    <% if current_user.sunset_editor? %>
      <%= render 'collections/edit_actions' %>
    <% end %>
  </div>
<% end %>

<div class="row">
  <h2 class="col-xs-12 col-sm-7 col-lg-6">
    Manage Items in this Collection
  </h2>
  <div class="col-xs-12 col-sm-5 col-lg-6">
    <%= render 'search_collection_dashboard_form'%>
  </div>
</div>
<%= render 'my/did_you_mean' %>
<%= render 'my/facet_selected' %>
<%= render 'collections/sort_and_per_page' %>
<%= render 'document_list', documents: @member_docs, document_list_format: "dashboard" %>
<%= render 'paginate' %>
