<div id='galterCollections' class='col-md-12 col-sm-12'>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <% collection_groups.each do |depositor, name| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-<%=depositor%>">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion"
               href="#collapse-<%=depositor%>" aria-expanded="true"
               aria-controls="collapse-<%=depositor%>">
              <%= name %>
            </a>
          </h4>
        </div>
        <div id="collapse-<%=depositor%>" class="panel-collapse collapse in"
             role="tabpanel" aria-labelledby="heading-<%=depositor%>">
          <div class="panel-body">
            <% collection_docs_with_depositor(depositor) do |col, idx| %>
              <%= link_to col.title, collections.collection_path(col.id),
                          class: 'list-group-item small' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="userColHeading">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#userColCollapse" aria-expanded="false" aria-controls="userColCollapse">
            Researchers' Collections
          </a>
        </h4>
      </div>

      <div id="userColCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="userColHeading">
        <div class="panel-body">
          <% users_collection_docs do |col, idx| %>
            <%= link_to col.title, collections.collection_path(col.id),
                        class: 'list-group-item small' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
