<div id='galterCollections' class='col-md-12 col-sm-12'>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <% collection_groups.each do |root| %>
      <% ichildren = institutional_children(root['hasCollectionMember_ssim'] || []) %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-<%=root['depositor_ssim'].first%>">
          <h4 class="panel-title">
            <% if ichildren.count > 0 %>
              <a class="collapsed expand-toggle"
                 role="button"
                 data-toggle="collapse"
                 data-parent="#accordion"
                 href="#collapse-<%=root['depositor_ssim'].first%>"
                 aria-expanded="true"
                 aria-controls="collapse-<%=root['depositor_ssim'].first%>">
                 <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
              </a>
            <% else %>
              &nbsp;&nbsp;
            <% end %>
            <%= link_to root['title_tesim'].first, collections.collection_path(root['id']) %>
          </h4>
        </div>
        <% if ichildren.count > 0 %>
        <div id="collapse-<%=root['depositor_ssim'].first%>" class="panel-collapse collapse"
             role="tabpanel" aria-labelledby="heading-<%=root['depositor_ssim'].first%>">
          <div class="panel-body">
            <% ichildren.each do |col, idx| %>
              <%= link_to col['title_tesim'].first, collections.collection_path(col['id']),
                          class: 'list-group-item small' %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="userColHeading">
        <h4 class="panel-title">
          <a class="collapsed expand-toggle"
             role="button"
             data-toggle="collapse"
             data-parent="#accordion"
             href="#userColCollapse"
             aria-expanded="false"
             aria-controls="userColCollapse">
            <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
          </a>
          Researchers' Collections
        </h4>
      </div>

      <div id="userColCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="userColHeading">
        <div class="panel-body">
          <% users_collection_docs do |col, idx| %>
            <%= link_to col['title_tesim'].first, collections.collection_path(col['id']),
                        class: 'list-group-item small' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

</div>
