<% @page_title = "#{@collection.title} - #{application_name}" %>

<%= render_breadcrumbs builder: Sufia::BootstrapBreadcrumbsBuilder %>

<div itemscope itemtype="http://schema.org/CollectionPage" class="row">
  <div class="col-sm-10 col-xs-12 pull-right">
    <header>
      <h1 class="visibility">
        <%= @presenter.title %>
        <%= render_collection_visibility(@collection) %>
      </h1>
      <% if @collection.institutional_collection %>
        <div class="label label-info">Institutional Collection</div>
      <% end %>
      <p class="collection_description"><%= @presenter.description %></p>
    </header>
    <% unless has_collection_search_parameters? %>
      <%= render 'collections/show_descriptions' %>
    <% end %>
  </div>
  <div class="col-sm-2 col-xs-12">
    <%= render partial: 'collections/media_display', locals: { generic_file: @collection } %>
    <% if @collection.followers.include?(current_user) %>
      <%= link_to collections.unfollow_collection_path(@collection.id),
          method: 'delete', class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-eye-close"></i> Unfollow
      <% end %>
    <% else %>
      <%= link_to collections.follow_collection_path(@collection.id),
          method: 'post', class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-eye-open"></i> Follow
      <% end %>
    <% end %>
    <% unless has_collection_search_parameters? && current_user.sunset_editor? %>
      <%= render partial: 'collections/show_actions' %>
    <% end %>
    <%= render partial: 'show_relations' %>
  </div>
</div>

<% if has_collection_search_parameters? %>
  <% header_title = "Search Results within this Collection" %>
<% elsif @collection.multi_page %>
  <% header_title = "Pages in this Collection" %>
<% else %>
  <% header_title = "Items in this Collection" %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <h2 class="col-xs-12 col-sm-7 col-lg-6"><%= header_title %></h2>
    <div class="col-xs-12 col-sm-5 col-lg-6"><%= render partial: 'search_form' %></div>
  </div>
</div>

<%= render 'sort_and_per_page' %>

<%= render_document_index @member_docs %>

<%= render partial: 'paginate' %>
