<div id='footer' class='row'>
  <footer id='brandFooterNew'>
    <div>
      <div id='footerLinks' class='col-md-3 col-xs-6 col-md-push-9 col-xs-push-1'>
        <ul class='list-unstyled col-md-6 col-xs-12'>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Catalog", catalog_index_path %></li>
          <li><%= link_to 'About', sufia.about_path %></li>
        </ul>

        <ul class='list-unstyled col-md-6 col-xs-12'>
          <li><%= link_to 'News', news_path %></li>
          <li><%= link_to 'Help', help_path %></li>
          <li><%= link_to 'Contact Us', sufia.contact_path %></li>
        </ul>
      </div>

      <div id='deptInfo' class='col-md-3 col-md-push-3 col-xs-6' itemscope itemtype='http://schema.org/Organization'>
        <dl>
          <dt class='fa'><i class='fa fa-map-marker'></i></dt>
          <dt itemprop='name'>Galter Health Sciences Library</dt>
          <dd itemprop='address'>303 E. Chicago Avenue, <span class='region'>Chicago, IL</span><span class='postal-code'> 60611</span></dd>
          <dd itemprop='telephone'><i class='fa fa-mobile'></i> 312-503-8126</dd>
          <dd itemprop='url'><%= link_to 'Galter Library', 'https://galter.northwestern.edu' %></dd>
          <dd itemprop='email'>
            <%= link_to "Contact Galter Reference", 'https://galter.northwestern.edu/contact/Galter/Reference' %>
          </dd>
        </dl>
        <ul id='galter-social-icons' class='social-icons cf'>
          <li itemprop='url'><a class='icon fa fa-facebook' data-original-title='Facebook' href="https://www.facebook.com/galterlibrary"><span class='visuallyhidden'>Facebook</span></a>
          </li>
          <li itemprop='url'>
            <a class='icon fa fa-twitter' data-original-title='Twitter' href="http://www.twitter.com/galterlibrary"><span class='visuallyhidden'>Twitter</span></a>
          </li>
        </ul>
      </div>

      <div class='col-xs-12 col-md-6 col-md-pull-6'>
      <div id="footerMisc" class='col-xs-12 col-md-6 col-md-push-6'>
        <h2>
          <a href="http://www.feinberg.northwestern.edu">Northwestern University
          <br>Feinberg School of Medicine</a>
        </h2>
        <p><a href="http://www.feinberg.northwestern.edu/giving/">Giving</a> | <a href="http://www.feinberg.northwestern.edu/communications/web/survey/index.html">Site Feedback</a></p>
      </div>

      <div id="nuFooterNew" class='col-xs-12 col-md-6 col-md-pull-6'>
        <div id="nuBrand" class='row'>
          <%= link_to(image_tag('Northwestern_horizontal_white-trimmed.svg'), 'http://www.northwestern.edu', id: 'NU-Home', class: 'col-md-8', alt: 'Northwestern University logo') %>
          <p class='col-md-12'>© <%= Time.now.year %> Northwestern University</p>
        </div>
        <div id="nuLinks">
          <ul>
            <li><a href="http://www.northwestern.edu/contact.html">Contact Northwestern University</a></li>
            <li><a href="http://www.northwestern.edu/hr/careers/">Careers</a></li>
            <li><a href="http://www.northwestern.edu/disclaimer.html">Disclaimer</a></li>
            <li><a href="http://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a></li>
            <li><a href="http://www.northwestern.edu/policy-statements/index.html">University Policies</a></li>
          </ul>
        </div>
      </div> <!-- /nuFooterNew -->
      </div>
    </div> <!-- /row -->
  </footer>
</div><!-- /container /#footer -->
