<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <%= render partial: "layouts/head_tag_content"%>
  </head>

<body> 
  <div class="fsmAlert yellowFsmAlert">
    <div class="contain-1440">
      <div class="alertMsg">
        <p>
          <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
          Coronavirus information for 
          <a href="https://www.nm.org/conditions-and-care-areas/infectious-disease/novel-coronavirus">
          Northwestern Memorial Hospital</a>, 
          <a href="https://www.luriechildrens.org/en/news-stories/novel-coronavirus-covid-19-resources/">
          Lurie Children’s Hospital</a>, and 
          <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html">
          CDC</a>.
        </p>
      </div>
    </div>  
  </div>
  <div  id="wrapper"> 
    <div id="page-positioner" class="container">
        <%= render partial: '/masthead' %>
        <%= render partial: '/controls' %>
        <%= render partial: '/flash_msg' %>
        <div id="content-wrapper" class="row"> 
          <div id="content">
            <div class="col-xs-12">
              <%= yield %>
            </div>
          </div><!-- /#content -->
        </div><!-- /#content-wrapper -->
        <%= render partial: '/footer' %>
    </div><!-- /#page-positioner -->
  </div><!-- /#wrapper -->
  <%= render 'shared/ajax_modal' %>
</body>
</html>
